head
  title= pageTitle ? "MapartIndex - " + pageTitle : "MapartIndex"
  link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
  link(rel="stylesheet", href="/public/style.css")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css")
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel="icon" type="image/x-icon" href="/public/icon.png")
  