head
  title= pageTitle ? "MapartIndex - " + pageTitle : "MapartIndex"
  link(rel="stylesheet", href="/public/lib/css/bootstrap.min.css")
  link(rel="stylesheet", href="/public/style.css")
  link(rel="stylesheet", href="/public/lib/css/fontawesome.min.css")
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel="icon", type="image/x-icon", href="/public/icon.png")
  
  script(src="/public/lib/js/jquery-1.12.4.min.js")
  script(src="/public/lib/js/popper.min.js")
  script(src="/public/lib/js/bootstrap.bundle.min.js")
  link(rel="stylesheet", href="/public/lib/css/bootstrap-select.min.css")
  script(src="/public/lib/js/bootstrap-select.min.js")
