script.
  document.addEventListener('DOMContentLoaded', function() {
    const currentURL = window.location.pathname;
    const navItems = document.querySelectorAll('.navbar-nav .nav-link');

    navItems.forEach(item => {
      if (item.getAttribute('href') === currentURL) {
        item.parentNode.classList.add('active');
      }
    });
  });

nav.navbar.navbar-expand-lg.navbar-light
  a.h1.navbar-brand(href="/") MapartIndex
  button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
    span.navbar-toggler-icon
  div#navbarNav.collapse.navbar-collapse
    ul.navbar-nav.ml-auto
      li.nav-item
        a.nav-link(href="/")
          i.fa.fa-home.mr-1
          | Home
      li.nav-item 
        a.nav-link(href="/map-gallery")
          i.fa.fa-map.mr-1 
          | Maps
      li.nav-item 
        a.nav-link(href="/mapart-gallery")
          i.fa.fa-th.mr-1 
          | Map Arts
      if admin || mod
        li.nav-item
          a.nav-link(href="/upload")
            i.fa.fa-upload.mr-1
            | Upload
        li.nav-item
          a.nav-link(href="/mapart-create")
            i.fa.fa-paint-brush.mr-1
            | Stitch
      li.nav-item.dropdown
        a.nav-link.dropdown-toggle(href="#", id="navbarDropdownMenuLink", role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
          i.fa.fa-user.mr-1
          | #{username ? username : 'User'}
        .dropdown-menu.dropdown-menu-right(aria-labelledby="navbarDropdownMenuLink")
          if admin
            a.dropdown-item(href="/admin")
              i.fa.fa-cogs.mr-1
              | Admin
          if username
            a.dropdown-item(href="/profile")
              i.fa.fa-user.mr-1
              | Profile
            a.dropdown-item(href="/logout")
              i.fa.fa-sign-out-alt.mr-1
              | Logout
          else
            a.dropdown-item(href="/register")
              i.fa.fa-user-plus.mr-1
              | Register
            a.dropdown-item(href="/login")
              i.fa.fa-sign-in-alt.mr-1
              | Login
