nav.navbar.navbar-expand-lg.navbar-light
  a.h1.navbar-brand(href="/") MapartIndex
  button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
    span.navbar-toggler-icon
  div#navbarNav.collapse.navbar-collapse
    ul.navbar-nav.ml-auto
      li.nav-item
        a.nav-link(href="/")
          i.fa.fa-home.mr-1
          | Home
      li.nav-item 
        a.nav-link(href="/gallery")
          i.fa.fa-th.mr-1 
          | Gallery
      if username
        li.nav-item
          a.nav-link(href="/upload")
            i.fa.fa-upload.mr-1
            | Upload
      li.nav-item
        if !username
          a.nav-link(href="/login")
            i.fa.fa-sign-in-alt.mr-1
            | Login
        else
          a.nav-link(href="/logout")
            i.fa.fa-sign-out-alt.mr-1
            | Logout
      li.nav-item
        if !username
          a.nav-link(href="/register")
            i.fa.fa-user-plus.mr-1
            | Register
        else
          a.nav-link(href="/profile")
            i.fa.fa-user.mr-1
            | Profile
      if admin
        li.nav-item
          a.nav-link(href="/admin")
            i.fa.fa-cogs.mr-1
            | Admin