doctype html
html
  - const pageTitle = "Changelog"
  include includes/head.pug
  body
    include includes/navbar.pug

    div.container
      h1.text-center= pageTitle
      hr
      p will fill this in on release lmao -Stalpo

      include includes/scripts.pug