doctype html
html
  - const pageTitle = "Delete User"
  include includes/head.pug
  body
    include includes/navbar.pug

    div.container
      h1.text-center= pageTitle
      hr

      div.row
        div.col-md-6.offset-md-3.text-center
          h2 Are you sure you want to delete your account?
          p This action cannot be undone.

          // Add a form for confirmation
          form(action="/deleteUser", method="post")
            button.btn.btn-danger(type="submit") Confirm Delete