doctype html
html
  - const pageTitle = "Gallery"
  include includes/head.pug
  body
    include includes/navbar.pug
    div.container
      h1.text-center= pageTitle
      hr
      form
        div.row
          div.col
            div.form-group
              label.sr-only(for='userSelector') Select User:
              div.input-group.mb-2.mr-sm-2
                div.input-group-prepend
                  div.input-group-text User
                select#userSelector.form-control
          div.col
            div.form-group
              label.sr-only(for='artistSelector') Select Artist:
              div.input-group.mb-2.mr-sm-2
                div.input-group-prepend
                  div.input-group-text Artist
                select#artistSelector.form-control
          div.col
            div.form-group
              label.sr-only(for='sortSelector') Sort By:
              div.input-group.mb-2.mr-sm-2
                div.input-group-prepend
                  div.input-group-text Sort
                select#sortSelector.form-control

      div#loadingSpinner.text-center.mt-4
        i.fa.fa-spinner.fa-spin.fa-3x
        p Loading...
        
      script(src="/public/js/gallery.js")

      // Add grid container with added margin and mx-auto for centering
      div#gridContainer.row.mb-4

      style.
        .pixelated-image {
          image-rendering: pixelated;
        }

      include includes/scripts.pug