doctype html
html
- const pageTitle = "Home"
  include includes/head.pug
  body
    include includes/navbar.pug

    div.container
      h1.text-center Welcome to Your Website
      // Your content goes here
    include includes/footer.pug
    include includes/scripts.pug