doctype html
html
  include includes/head.pug
  body
    include includes/navbar.pug

    div.container
      h1.text-center Welcome to Your Website
      // Your content goes here
    include includes/scripts.pug