doctype html
html
- const pageTitle = "Home"
  include includes/head.pug
  body
    include includes/navbar.pug

    div.container
      h1.text-center Home
      if !username
        p Registration is open!
      else
        p Welcome back, #{ username }!
        p.small Your userId is #{ userId }
        
    include includes/footer.pug
    include includes/scripts.pug