doctype html
html
  - const pageTitle = "Login"
  include includes/head.pug
  body
    include includes/navbar.pug
    div.container
      div.row.justify-content-center.mt-5
        div.col-md-6
          h1.text-center Login
          form(id="loginForm", action="/login", method="post")
            div.form-group
              div.input-group
                div.input-group-prepend
                  span.input-group-text
                    i.fas.fa-user
                input(type="text", class="form-control", name="username", id="usernameInput", placeholder="Username", required)
            div.form-group
              div.input-group
                div.input-group-prepend
                  span.input-group-text
                    i.fas.fa-lock
                input(type="password", class="form-control", name="password", id="passwordInput", placeholder="Password", required)
            button(type="submit", class="btn btn-primary btn-block mt-3", id="loginButton") Submit
            button(type="button", class="btn btn-primary btn-block mt-3", onclick="window.location.href='/discord/login'") Login With Discord
          
          script(src="./public/js/login.js")

    // include includes/footer.pug
    include includes/scripts.pug
