doctype html
html
  - const pageTitle = "MapId: " + mapId
  include includes/head.pug
  body
    include includes/navbar.pug
    div.container
      h1.text-center MapId
      hr


      div#mapContainer.text-center
        i.fa.fa-spinner.fa-spin.fa-3x
        p Loading map data...

      script(src="https://code.jquery.com/jquery-3.6.0.min.js")
      script(src="/public/js/mapid.js")

      include includes/scripts.pug
