doctype html
html
  - const pageTitle = "MapId Upload"
  include includes/head.pug
  body
    include includes/navbar.pug

    div.container
      h1.text-center= pageTitle
      hr
      if !admin && !mod
        div.alert.alert-danger(role="alert")
          | You are not an administrator or a moderator
      else
        .container.mt-5
          form#uploadForm(action='/mapid/create', method='post', enctype='multipart/form-data')
            .form-group
              label(for='image', class='mb-2') Choose a map:
              input(type='file', name='images', id='images', class='form-control-file', accept='image/*', multiple)
            .form-group
              label(for='server', class='mb-2') Select a server:
              if !server 
                select(name='server', id='server', class='form-control')
                  option(value='2b2t') 2b2t
                  option(value='constantiam') constantiam
                  option(value='0b0t') 0b0t
                  option(value='og-network') og-network
                  option(value='minetexas') minetexas
                  option(value='6b6t') 6b6t
                  option(value='purity-vanilla') purity-vanilla
                  option(value='oldfag') oldfag
                  option(value='3b3france') 3b3france
                  option(value='minewind') minewind
                  option(value='folkhack') folkhack
                  option(value='fbft') fbft
                  option(value='2b2fr') 2b2fr
                  option(value='endcrystal') endcrystal.me
                  option(value='simpcraft') simpcraft
                  option(value='feather64') feather64
                  option(value='arda') arda
                  // Add more options as needed
              else
                select(name='server', id='server', class='form-control')
                  option(value=`${server}`) #{server}
            .form-group
              label(for='maxWrong', class='mb-2') Select a max wrong pixels for duplicate (default is 10, set negative to skip check):
              input(type="text", name="maxWrong", id="maxWrong", value="10", class='form-control')
            .form-group
              label(for='nsfw', class='mb-2') nsfw:
              input(type='checkbox', name='nsfw', id='nsfw')
            .form-group
              label(for='singles', class='mb-2') auto make maparts (all 1x1s):
              input(type='checkbox', name='singles', id='singles')

            button.btn.btn-primary(type='submit')
              i.fas.fa-cloud-upload-alt
              |  Upload Image

          .progress.mt-3(style='display: none;')
            .progress-bar(role='progressbar', id='uploadProgressBar', style='width: 0%', aria-valuenow='0', aria-valuemin='0', aria-valuemax='100')
          .alert.alert-success#successMessage(style='text-align: center; display: none; margin-top: 10px;')
          .alert.alert-danger#errorMessage(style='text-align: center; display: none; margin-top: 10px;')

          // Preview Image Section
          #imagePreview(style='display: none; margin-top: 10px;')

      script(src="/public/js/upload.js")
    include includes/scripts.pug
