doctype html
html
  include includes/head.pug
  body
    include includes/navbar.pug
    div.container
      div.row.justify-content-center.mt-5
        div.col-md-6
          h1.text-center Register
          form(action="/register", method="post")
            div.form-group
              label(for="username") Username:
              input(type="text", class="form-control", name="username", required)
            div.form-group
              label(for="password") Password:
              input(type="password", class="form-control", name="password", required)
            button(type="submit", class="btn btn-primary btn-block") Register

    script.
      // Prevent form submission on Enter key press
      document.addEventListener("keydown", function(event) {
        if (event.key === "Enter" && event.target.tagName !== "TEXTAREA" && event.target.tagName !== "INPUT") {
          event.preventDefault();
        }
      });

      // Handle registration with vanilla JavaScript
      document.addEventListener("DOMContentLoaded", function() {
        document.querySelector("form").addEventListener("submit", async function(event) {
          event.preventDefault(); // Prevent the form from submitting normally

          var username = document.querySelector('[name="username"]').value;
          var password = document.querySelector('[name="password"]').value;

          var xhr = new XMLHttpRequest();
          xhr.open("POST", "/register", true);
          xhr.setRequestHeader("Content-Type", "application/json");

          xhr.onreadystatechange = function() {
            if (xhr.readyState == 4) {
              if (xhr.status == 201) {
                // Registration successful
                window.location.href = "/login"; // Redirect to login page
              } else {
                var data = JSON.parse(xhr.responseText);

                // Display the error message from the server
                showError("Registration failed: " + data.error);
              }
            }
          };

          // Convert the data to JSON format
          var jsonData = JSON.stringify({ username: username, password: password });

          // Send the request
          xhr.send(jsonData);
        });

        function showError(message) {
          // Display error using Bootstrap alert
          var alertDiv = document.createElement("div");
          alertDiv.className = "alert alert-danger mt-3";
          alertDiv.textContent = message;

          // Insert the alert above the form
          var form = document.querySelector("form");
          form.parentNode.insertBefore(alertDiv, form.nextSibling);

          // Remove the alert after a few seconds
          setTimeout(function() {
            alertDiv.parentNode.removeChild(alertDiv);
          }, 5000);
        }
      });

    include includes/scripts.pug
