doctype html
html
  - const pageTitle = "Results"
  include includes/head.pug
  body
    include includes/navbar.pug

    div.container
      h1.text-center= pageTitle
      hr

      form(action="/search/" method="GET")
        div.mb-3.form-group
          div.input-group
            div.input-group-prepend
              span.input-group-text.icon-prepend
                i.fas.fa-search
            input#artist.form-control(type='text', name='searchTerm', placeholder='Search by Artist, Uploader and Map Name')
            div.input-group-append
              button.btn.btn-outline-primary(type='submit') Search



      // Results
      if results 
        each result in results
          p= result.displayName

    include includes/scripts.pug
