doctype html
html
  - const pageTitle = "Update Password"
  include includes/head.pug
  body
    include includes/navbar.pug
    div.container
      div.row.justify-content-center.mt-5
        div.col-md-6
          h1.text-center Update Password
          form(action="/user/update-password", method="post")
            div.form-group
              div.input-group
                div.input-group-prepend
                  span.input-group-text
                    i.fas.fa-lock
                input(type="password", class="form-control", name="password", id="password", placeholder="Password", required)
            div.form-group
              div.input-group
                div.input-group-prepend
                  span.input-group-text
                    i.fas.fa-lock
                input(type="password", class="form-control", name="confirmPassword", id="confirmPassword", placeholder="Confirm Password", required)
            button(type="submit", class="btn btn-primary btn-block") Submit

    script(src="/public/js/update-password.js")

    // include includes/footer.pug
    include includes/scripts.pug
