/* Navbar */
.navbar-custom {
  background-color: #dbcfba;
  color: #000000;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav .nav-link {
  color: #000000;
}

.navbar-custom .navbar-toggler-icon {
  color: #000000;
  background-color: #dbcfba;
}

.navbar-custom .navbar-toggler {
  border-color: #000000;
}

.navbar-custom .nav-item.dropdown .dropdown-menu {
  background-color: #dbcfba;
}

.navbar-custom .nav-item.dropdown:hover .dropdown-menu {
  background-color: #dbcfba;
}

.navbar-custom .nav-item.dropdown:hover .dropdown-menu a.dropdown-item:hover {
  color: #000000;
  background-color: #dbcfba;
}