/* Navbar */
.navbar-custom {
  background-color: #cfcea8;
  color: #000000;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav .nav-link {
  color: #000000;
}

.navbar-custom .navbar-toggler-icon {
  color: #000000;
  background-color: #cfcea8;
}

.navbar-custom .navbar-toggler {
  border-color: #000000;
}

.navbar-custom .nav-item.dropdown .dropdown-menu {
  background-color: #cfcea8;
}

.navbar-custom .nav-item.dropdown:hover .dropdown-menu {
  background-color: #cfcea8;
}

.navbar-custom .nav-item.dropdown:hover .dropdown-menu a.dropdown-item:hover {
  color: #000000;
  background-color: #cfcea8;
}

/* NSFW */
.nsfw .image-wrapper .image-link {
  display: block;
}

.nsfw .image-wrapper .blurred {
  width: 100%;
  filter: blur(10px);
}

.nsfw .image-wrapper {
  overflow: hidden;
  border: 1px solid #b6b6b6;
  border-radius: 5px;
}

.nsfw .image-wrapper img {
  width: 100%;
  filter: blur(5px);
}

.image-wrapper img {
  width: 100%;
}